backend/vendor/
backend/node_modules/
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php

web-admin/node_modules/
web-admin/dist/
web-admin/.env

mobile-app/build/
mobile-app/.dart_tool/
mobile-app/android/.gradle/
mobile-app/android/app/build/
mobile-app/ios/Pods/